#navbar
{
    background-color: #691d89;
background-image: linear-gradient(90deg, #691d89 0%, #b56bdc 15%, #691d89 46%, #1c1b83 60%, #8d81d7 80%, #1c1b83 100%);

};
.content-wrapper{
    width: calc(100% - 300px);
    height: auto;
    position: absolute;
    left: 300px;
    padding: 20px;
     }
  .Container{
      background-color:#b56bdc;
  }